body{
    margin: 0;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background: url("https://images.unsplash.com/photo-1468657988500-aca2be09f4c6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2670&q=80");
    background-size: cover;
    overflow: hidden;
}

.welcome {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 14px;
    text-align: center;
    color: white;
    text-decoration: none;
}

.clock {
    display: flex;
}

.clock div {
    margin: 5px;
    position: relative;
}

.clock span {
    width: 100px;
    height: 80px;
    background-color: #e3e3e3;
    opacity: 80%;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.clock .text {
    height: 30px;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: white;
    opacity: 80%; 
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.buttonsFirstRow {
    display: flex;
    flex-direction: row;
    font-family: sans-serif;
    border-radius: 5px;
    margin-bottom: 30px;
    margin-top: 150px;
}

.buttonsSecondRow {
    display: flex;
    flex-direction: row;
    font-family: sans-serif;
    border-radius: 5px;
    
}
.btn1,
.btn2,
.btn3,
.btn4,
.btn5,
.btn6 {
    position: relative;
    margin-left: 25px;
    margin-right: 25px;
    background-color: rgba(205,38,125,255);
    padding: 20px 40px;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    box-shadow: 0 4px 8px black 0.3;
    text-decoration: none;
    color: black;
    overflow: hidden;
    display: inline-block;
    width: 55px;
    display: flex;
    justify-content: center;
    transition: .4s;
}

.btn1, 
.btn2,
.btn3,
.btn4, 
.btn5,
.btn6 {
    background-color: rgb(40, 40, 40);
    color: rgb(109, 109, 109);
    border-color: rgb(189, 183, 183);
}


.btn6::before,
.btn4::before,
.btn5::before,
.btn2::before,
.btn3::before,
.btn1::before {
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    transition: height 0.5s, width 0.5s;
}
.btn1::before {
    left: var(--xPos);
    top: var(--yPos);
    background-color: #1DA1F2;
}

.btn2::before {
    left: var(--zPos);
    top: var(--wPos);
    background-color: white;
}

.btn3::before {
    left: var(--iPos);
    top: var(--jPos);
    background-color: red;
}

.btn4::before {
    left: var(--kPos);
    top: var(--los);
    background-color: #fafbfc;
    border-color: white;
}
.btn5::before {
    left: var(--mPos);
    top: var(--nPos);
    background-color: #0077b5;
    border-color: #313335;
}

.btn6::before {
    left: var(--oPos);
    top: var(--pPos);
    background-color: white;
}

.btn6:hover::before,
.btn5:hover::before,
.btn4:hover::before,
.btn3:hover::before,
.btn2:hover::before,
.btn1:hover::before {
    width: 350px;
    height: 350px;
}

.btn1:hover {
    color: white;
    border-color: white;
}

.btn2:hover {
    color: #4285F4;
    border-color: #4285F4;
}

.btn3:hover {
    color: white;
}

.btn4:hover {
    color: #2b3137;
    border-color: white;
}

.btn5:hover {
    color: white;
}

.btn6:hover {
    color: #4285F4;
    border-color: red;
}

.btn6 span,
.btn4 span,
.btn5 span,
.btn2 span,
.btn3 span,
.btn1 span {
    position: relative;
    z-index: 1;
    box-shadow: 0 4px 8px black 0.5px;
    font-weight: bold;
}

.label {
    position: fixed;
    top: 10px;
    right: 20px;
    width: 80px;
    height: 40px;
    background-color: lightgray;
    border-radius: 20px;
    cursor: pointer;
    transition: .4s;
}

.input {
    visibility: hidden;
}

.circle {
    width: 34px;
    height: 34px;
    background-color: white;
    border-radius: 50%;
    margin-top: 3px;
    margin-left: 3px;
    position: absolute;
    animation: toggleOff .4s linear forwards;
}

.input:checked + .label {
    background-color: rgb(45, 45, 45);
}

.input:checked + .label .circle {
    animation: toggleOn .4s linear forwards;
    background-color: black;
}

@keyframes toggleOn {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(40px);
    }  
}

@keyframes toggleOff {
    0% {
        transform: translateX(40px);
    }
    100% {
        transform: translateX(0);
    }  
}

.input:checked + .buttons .buttonsFirstRow .btn1 {
    background-color: white;
}